.apartments-search-bar_input {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.apartments-search-bar_input > input {
    width: 100%;
    max-width: 48ch;
    padding: .25rem 1rem;
}

.apartments-search-bar_input > span {
    flex: 1 1 auto;
    margin-left: .75rem;
}


@media screen and (max-width: 767px) {
    .apartments-search-bar_input {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .apartments-search-bar_input > input {
        width: 100%;
        max-width: unset;
        padding: .75rem 1rem;
    }

    .apartments-search-bar_input > span {
        margin-left: 0;
        padding: .5rem 0;
        margin-bottom: .25rem;
    }
}
