.apartment-stars {
    padding: .15rem .5rem .5rem;
}

.apartment-stars:empty {
    padding: 0;
    margin: .75rem .5rem;
    background: rgba(255,255,255,.65);
    height: .95rem;
    width: 18ch;
    display: block;
}
