.apartments-search-bar {
    background: var(--secondary-dark);

    display: flex;
    flex-direction: row;

    padding: 1rem;

    position: sticky;
    top: 0;

    z-index: 1;
}

.apartments-search-bar > form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .apartments-search-bar > form {
        flex-direction: column;
    }
}
